<!DOCTYPE html>
<html lang="{{ site.language }}" class="bg-gray-50">
<head>
  {% include "head.njk" %}
</head>
<body class="font-sans min-h-screen bg-gray-50 text-gray-900">
  {{ content | safe }}
  {% include "footer.njk" %}
</body>
</html>
